.projects {
    margin: 4rem auto;
    width: 90%;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    gap:2rem	
}

.project-title {
    margin-bottom: 3rem;
}

@media screen and (max-width: 40rem){
    .projects {
        margin-top: 2rem;
    }

    .project-cards {
        gap:1rem
    }
}